<li>
	<a class="ac-gn-link-bork" href="/"> <span class="ac-gn-link-text">Bork</span> </a>
</li>
<li><%= link_to "Кухня", "#1" %></li>
<li><%= link_to "Дом", "#2" %></li>
<li><%= link_to "Климат", "#3" %></li>
<li><%= link_to "Аксессуары", "#4" %></li>
<li><%= link_to "Клуб", "#5" %></li>
<li><%= link_to "Поддержка", "#6" %></li>